In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///../Resources/hawaii.sqlite")

In [5]:
# reflect an existing database into a new model
Base = automap_base() 
# reflect the tables
Base.prepare(engine, reflect=True)

In [6]:
# View all of the classes that automap
Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [11]:
# Find the most recent date in the data set which should be 8/23/17
## DATE IS IN THE MEASUREMENT TABLE ##
session.query(Measurement.date).order_by(Measurement.date.desc()).first()

('2017-08-23',)

In [26]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database which is 8/23/17. 
### NOTE: YOU DO NOT PASS THE DATE AS A VARIABLE TO YOUR QUERY ###

# Calculate the date one year from the last date in data set.
#session.query(Measurement.date).filter(Measurement.date > '2016-08-23').order_by(Measurement.date).all()
year_ago = dt.date(2017, 8, 23) - dt.timedelta(days=365)
print(year_ago)

# Perform a query to retrieve the date and precipitation scores
# Sort the dataframe by date
date_prcp = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= year_ago).order_by(Measurement.date).all()

# Save the query results as a Pandas DataFrame and set the index to the date column
date_prcp_df = pd.DataFrame(date_prcp)
date_prcp_df.head()
#date_prcp_df.tail()


# Use Pandas Plotting with Matplotlib to plot the data

2016-08-23

               0     1
2180  2017-08-11  0.00
2181  2017-08-11   NaN
2182  2017-08-12  0.00
2183  2017-08-12  0.00
2184  2017-08-12  0.14
2185  2017-08-13  0.00
2186  2017-08-13   NaN
2187  2017-08-13  0.00
2188  2017-08-13  0.00
2189  2017-08-13   NaN
2190  2017-08-14  0.00
2191  2017-08-14  0.01
2192  2017-08-14  0.08
2193  2017-08-14  0.00
2194  2017-08-14  0.22
2195  2017-08-15  0.02
2196  2017-08-15  0.00
2197  2017-08-15  0.06
2198  2017-08-15  0.32
2199  2017-08-15  0.42
2200  2017-08-16  0.00
2201  2017-08-16  0.07
2202  2017-08-16  0.12
2203  2017-08-16  0.42
2204  2017-08-17  0.00
2205  2017-08-17  0.05
2206  2017-08-17  0.01
2207  2017-08-17  0.13
2208  2017-08-18  0.00
2209  2017-08-18  0.00
2210  2017-08-18  0.06
2211  2017-08-18   NaN
2212  2017-08-19  0.00
2213  2017-08-19  0.00
2214  2017-08-19   NaN
2215  2017-08-19  0.09
2216  2017-08-20  0.00
2217  2017-08-20  0.01
2218  2017-08-20   NaN
2219  2017-08-21  0.00
2220  2017-08-21  0.02
2221  2017-08-21   NaN
2222  2017-08-21  0.56
2223  2017-08-22  0.00
2224  2017-08-22  0.00
2225  2017-08-22  0.50
2226  2017-08-23  0.00
2227  2017-08-23  0.00
2228  2017-08-23  0.08
2229  2017-08-23  0.45

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
######## DO THIS LAST ###############
session.close()